{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/thumb.png') }}" alt="Python Development" height="400">
                    <div class="card-body">
                    <h5 class="card-title"><mark>What I like to do</h5>
                    <p class="card-text">
                        <ol>
                            <li>I swim for Del Norte so that's pretty cool, I also swim for SDAC, well, at least I used to. Umm I have been workingout but I have been shifting towards calisthetics cause it seems cooler lol. I have been trying to sleep more this year but it's kinda hard with the school year and taking more difficult classes.   .
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/random.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is </mark>Random Stuff</h5>
                    <p class="card-text">
                        <ol>
                            <li>I guess that I still have to add some stuff, I know a lot of numbers of pi: 3.141592653589793238462648 not rly sure abt the last 5 tho. Ummm did you know that Del Norte is like in the top 40 high schools in California and in the top 300 in the USA so that is also pretty cool.</li>
                            <li>This</li>
                            <li>is</li>
                            <li>super</li>
                            <li>duper</li>
                            <li>cool!</li>
                            <li>I</li>
                            <li>am</li>
                            <li>so</li>
                            <li>so</li>
                            <li>so</li>
                            <li>so</li>
                            <li>so</li>
                            <li>tired!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go away</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/question.jpeg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Some of my questions????</h5>
                    <p class="card-text">
                        <ol>
                            <li>How many people could actually fit in Mr.Mortensons class? How far can I run? Why can't I parachute until i'm 18? So many questions...</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}